/PumkinSniper/.vs
/PumkinSniper/UserSettings/Layouts
/PumkinSniper/obj/Debug
/PumkinSniper/Assembly-CSharp.csproj
/PumkinSniper/Temp
/PumkinSniper/Logs
/PumkinSniper/Library
/SymbolicLink/Library
/SymbolicLink/Logs
/SymbolicLink/UserSettings